<div class="container-fluid home" style="font-family: 'Open Sans', sans-serif;">
  <div class="image-container2">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 banner-content">
      <h1 style="font-size:65px; font-family: 'Montserrat', sans-serif;">Impact Science Angels</h1>
    </br>
    </br>
    <hr style="border-color: white;">
    </br>
      <h1 style="font-size:36px; line-height: 55px; font-family: 'Montserrat', sans-serif;">We invest in science companies with the potential to impact 1 Million or more lives</h1>
      
      </br>
    </div>
  </div>

<div id="about" class="container-fluid">
  <div class="row">

    <div class="col-md-8" id="main-about">
      <h1 style="font-family: 'Montserrat', sans-serif;">Who we are:</h1>
      </br>
      We are a group of investors who believe in the power of science to radically shape the future. We believe that the most revolutionizing companies in the coming decades will be science based and affect million of lives in the process.
      </br>
      </br>
      There has been a shift among investors mindset to invest in the same traditionally safe asset classes. As a group investors have forgotten a fundamental role they play in the evolution of technology. We aim to break this paradigm by focusing on long-term returns that postively impact humanity through science based interventions.   
     </div>                                     
    <div class="col-md-4" id="aside-about" style="font-family: 'Montserrat', sans-serif;">
      <h3>The Pledge</h3>
      </br>
      Our members commit to investing 100K over the next 3 years in early stage science companies with the potential to impact 1 Million or more lives
    </div>

  </div>
</div>


 <div class="col-sm-12 home_steps">

  <div class="row" style="text-align:center; color:white;"> 

    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">

      <div style="color: white; text-align: center;">
        </br>
        </br>
        </br>
        </br>
        <h1 style="font-size:42px; font-family: 'Montserrat', sans-serif;">The Team</h1>
        </br>

        <p style="font-size:22px; font-family: 'Montserrat', sans-serif;">We are commited to changing how we invest in science</h1>
      </div>

      </br>
      </br>
      </br>
      </br>
      </br>

      <div class="row" style="text-align:center; color:white;"> 
        <div class="service-box col-sm-6">
            <div>
                <%= image_tag('javier_profile.jpg', id: 'blah', class: 'media-img', alt: 'About', :style => "width:55%;") %>
            </div>
            </br>
            
            <h2 style="font-size: 30px; font-family: 'Montserrat', sans-serif;">
                Javier Noris
            </h2>
          </br>
               <%= link_to "https://www.linkedin.com/in/javiernoris" do %>
                  <i class="fa fa-linkedin fa" style="background-color: white; color: #093954; padding:10px 15px 10px 15px; font-size: 25px; border-radius: 5px;"></i>
                <% end %>
            </br>
        </div>

        <div class="service-box col-sm-6">
            <div>
                <%= image_tag('ramphis_profile.jpg', class: 'media-img', alt: 'About', :style => "width:55%;") %>
            </div>
            </br>

            <h2 style="font-size: 30px; font-family: 'Montserrat', sans-serif;">
                Ramphis Castro
            </h2>
            </br>
               <%= link_to "https://www.linkedin.com/in/jramphis" do %>
                  <i class="fa fa-linkedin fa" style="background-color: white; color: #093954; padding:10px 15px 10px 15px; font-size: 25px; border-radius: 5px;"></i>
                <% end %>
            </br>
        </div>     
      </div>
      </br>
      </br>
    </div>
  </div>
</div>

 <div class="col-sm-12 image-container3" style="background-color: white;">

  <div class="row" style="text-align:center;"> 

    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">

      </br>
      </br>
      </br>
      </br>
      
      <div class="row" style="text-align:center;"> 
        <div class="service-box col-sm-6">
            </br>
            <h2 style="font-size: 30px; font-family: 'Montserrat', sans-serif;">
              To Become A Member
            </h2>
            membership@impactscienceangels.com
            </br>
        </div>

        <div class="service-box col-sm-6">
            </br>
            <h2 style="font-size: 30px; font-family: 'Montserrat', sans-serif;">
              To Pitch Your Company
            </h2>
            company@impactscienceangels.com
            </br>
        </div>     
      </div>
      </br>
      </br>
    </div>
  </div>
</div>
